@import '../../static/scss/common.scss';

.columns-wrapper {
  position: relative;

  .columns-title {
    font-size: 30px;
    color: #333;
    line-height: 1;
  }

  .columns-desc {
    margin-top: 20px;
    color: #999;
    font-size: 26px;
    line-height: 1;
  }

  .columns-freeShipping-tag {
    width: 60px;
    // height: 28px;
    // border: 1px solid #ff5332;
    @include px-border(#ff5332, 4rpx);
    font-size: 22px;
    font-weight: bold;
    color: #ff5332;
    text-align: center;
    line-height: 28px;
    margin-top: 26px;
  }

  .columns-control {
    line-height: 1;
    &.bottom {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-content: center;

    .price {
      color: #ff5332;
      font-size: 36px;
      font-weight: bold;
      .symbol {
        font-size: 24px;
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
  .add {
    // width: 40px;
    // height: 40px;
    // image {
    //   width: 100%;
    //   height: 100%;
    // }
    .btn {
      width: 104px;
      height: 48px;
      background: #fa5432;
      border-radius: 24px;
      font-size: 24px;
      color: #ffffff;
      line-height: 48px;
      text-align: center;
      font-weight: bold;
    }

    image {
      width: 52px;
      height: 52px;
    }
  }
  .image-wrapper {
    // background: $baseColor;
    // width: 240px;
    // height: 240px;
    image {
      height: 100%;
    }
  }
}

.two-columns,
.floor-banner,
.scroll-columns {
  // width: 690px;
  display: flex;
  margin: 0 auto;
}

.floor-banner-wrapper {
  padding: 0 20px;
  background: #fff;
  .floor-banner {
    padding: 30px 0;
    // height: 280px;
    display: flex;
    margin: 0 auto 0;

    .image-wrapper {
      width: 210px;
      height: 210px;
      margin-right: 20px;
      image {
        width: 100%;
        height: 100%;
      }
    }

    .columns-wrapper {
      width: 420px;
      margin: 20px 0 0;
      // background: red;
    }

    .columns-freeShipping-tag {
      margin-top: 30px;
    }

    .columns-desc {
      line-height: 1;
    }

    &.noBorder {
      border-bottom: 0;
    }
  }
}
.two-columns {
  display: flex;
  justify-content: space-between;
  // padding: 0;
  flex-wrap: wrap;

  .image-wrapper {
    width: 345px;
    height: 345px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    // background: red;
  }
  .columns-wrapper {
    width: 345px;
    // margin-bottom: 30px;
    margin-bottom: 20px;
    background: #fff;
    padding-bottom: 24px;
    border-radius: 10px;

    .columns-title {
      margin-top: 26px;
      padding: 0 20px;
    }
    .columns-desc {
      margin-top: 20px;
      padding: 0 20px;
    }
    .columns-freeShipping-tag {
      margin: 26px 20rpx 0;
    }
    .columns-control {
      margin-top: 46px;
      padding: 0 20px;

      &.freeShipping {
        margin-top: 10px;
      }
    }
    &.noBorder {
      margin-bottom: 0;
    }
    // &:nth-last-child(2) {
    //   margin-bottom: 0;
    // }
  }
}

.scroll-columns {
  margin: 0 auto 0;
  scroll-view {
    white-space: nowrap;
  }
  .heightS {
    // height: 420px;
    // background: red;
    .add {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  .columns-wrapper {
    display: inline-block;
    width: 240px;
    margin-right: 20px;
    background: #fff;
    padding-bottom: 26px;
    border-radius: 10px;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    .image-wrapper {
      width: 240px;
      height: 240px;
      border-radius: 10px 10px 0px 0px;
      overflow: hidden;
    }

    .columns-title {
      margin-top: 22px;
      font-size: 24px;
      padding: 0 20px;
    }

    .columns-desc {
      margin-top: 20px;
    }
    .columns-freeShipping-tag {
      margin: 16px 20px 0;
    }

    .columns-control {
      margin-top: 22px;
      padding: 0 20px;
      &.freeShipping {
        margin-top: 14px;
      }
    }

    .price {
      font-size: 28px;

      .symbol {
        font-size: 20px;
      }
    }
  }
}
